<top-nav></top-nav>

<div class="stage-1 container">
  <div class="content display-3">
    <h1>
      Nothing is true Everything is permitted
    </h1>
    <p>
      Create website and apps
    </p>
  </div>
</div>

<div class="stage-2 container">
  <div class="row">
    <div class="col-lg-6">
      <div class="image-container">
        <img src="../../images/kungfupanda3.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="content-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="stage-project-1">
  <div class="project-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 description">
          <h3>Chatter</h3>
          <h2>
            Share the images with people around you
          </h2>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="col-lg-6 image">
          <img src="../../images/Chatter.webp" alt="" class="center-block">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stage-project-2">
  <div class="project-2">
    <div class="container">
      <div class="row image">
        <img src="../../images/Chirpin.jpg" alt="">
      </div>
      <div class="row">
        <h3>Chirpin</h3>
        <h2>Meet wonderful people</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>

<div class="stage-project-3">
  <div class="project-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 image">

        </div>
        <div class="col-lg-6 description">
          <h3>Hey</h3>
          <h2>Remind people of what they need to do</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
