<top-nav></top-nav>

<div class="stage-1 container">
  <div class="content display-3">
    <h1>
      Nothing is true Everything is permitted
    </h1>
    <p>
      Create website and apps
    </p>
  </div>
</div>

<div class="stage-2 container">
  <div class="row">
    <div class="image-container center-block">
      <img src="../../images/kungfupanda3.jpg" alt="" class="img-circle" />
    </div>
    <div class="content-container text-xs-center">
      <h5>My name is Eric L. and spend the time I have on web and mobile development. Mainly using <em>AngularJS 1 and 2</em> at Thrinacia team for web. Finished <em>Android</em> Nanodegree on Udacity and will pursue becoming a better Mobile Developer. There is still a lot to do and no stopping in learning.</h5>
    </div>
  </div>
</div>

<div class="stage-project-3">
  <div class="project-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 image">
          <img src="../../images/Hey.png" alt="" class="center-block">
        </div>
        <div class="col-lg-6 description">
          <h3>Hey</h3>
          <h2>Remind people of what they need to do</h2>
          <p class="lead">
            Using Hey to send a remind your closed one’s phone to send message back to you when they, for example, arrive at their office or when it’s certain time. Reminder’s preliminary requirement is the user needs to know what task at when the user needs to be doing. With this app, one can send a message to another user and set a scenario as to when this message should show up. Instant messaging usually require minimum attention so if there is task, people sometimes just forget about it afterwards
            if one never remembers to set a reminder. This app would allow one to reminder another one at the right time. It can be used between closed ones, or a group of team for productivity.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stage-project-1">
  <div class="project-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 description">
          <h3>Chatter</h3>
          <h2>
            Share the images with people around you
          </h2>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="col-lg-6 image">
          <img src="../../images/Chatter.webp" alt="" class="center-block">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stage-project-2">
  <div class="project-2">
    <div class="container">
      <div class="row image">
        <img src="../../images/Chirpin.jpg" alt="">
      </div>
      <div class="row">
        <h3>Chirpin</h3>
        <h2>Meet wonderful people</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>
